<div id="branding">
    <a href="/" class="brand-normal" data-light-logo="/corporate/assets/images/logo.png"><img src="/corporate/assets/images/logo-dark.png" alt="fbClone"></a>
    <a href="/" class="brand-retina" data-light-logo="/corporate/assets/images/logo@2x.png"><img src="/corporate/assets/images/logo@2x-dark.png" alt="fbClone"></a>
</div><!-- #branding end -->
